[submodule "MititBack"]
	path = MititBack
	url = ../MititBack.git
[submodule "MititFront"]
	path = MititFront
	url = ../MititFront.git
[submodule "MititAdminFront"]
	path = MititAdminFront
	url = ../MititAdminFront.git
