[submodule "MititBack"]
	path = MititBack
	url = git@github.com:MITIT-DEP22/MititBack.git
[submodule "MititFront"]
	path = MititFront
	url = git@github.com:MITIT-DEP22/MititFront.git
[submodule "MititAdminFront"]
	path = MititAdminFront
	url = git@github.com:MITIT-DEP22/MititAdminFront.git
